{% extends "layouts/main.html" %}

{% set pageName="About Design help" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">About Design help</h1>

    <p class="govuk-body">
      The Defra design team has moved to a management model where resource managers support line management. This has improved administration and the smooth running of core management responsibilities.
    </p>
    <p class="govuk-body">
      At the same time, it can leave a gap in design-focused support. Things like design critiques, design tooling help and longer-term coaching are now more dependent on the design community supporting itself.
    </p>

    <h2 class="govuk-heading-m">User need</h2>
    <p class="govuk-body">
      Designers need a simple way to find and offer support to each other, without relying only on informal networks or existing personal contacts.
    </p>

    <h2 class="govuk-heading-m">Why this matters</h2>
    <p class="govuk-body">
      Our team has a lot of experience and knowledge to share. This tool is intended to prompt people to both find help and offer help, with managers supporting the process.
    </p>

    <h2 class="govuk-heading-m">What this first version is for</h2>
    <p class="govuk-body">
      This is a first iteration. We can keep it, adapt it, improve it, or stop using it based on feedback and evidence of what works.
    </p>
    <p class="govuk-body">
      The intent is that everyone takes an active role in helping each other in our profession.
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>finding a file or piece of code</li>
      <li>getting feedback on an idea</li>
      <li>support with design tooling and critiques</li>
      <li>career planning and coaching</li>
    </ul>

    <p class="govuk-body">Think about two things:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>what you can offer</li>
      <li>what you would like help with</li>
    </ul>

    <p class="govuk-body">
      If you find something that doesn’t work or a bug, please let your line manager know.
    </p>
  </div>
</div>
{% endblock %}
