{% extends "layouts/main.html" %}

{% block pageTitle %}
Thank you for your feedback - Defra Design Help
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Thank you for your feedback
      </h1>
    </div>

    <p class="govuk-body">
      Your response helps us improve Design help for everyone in the design community.
    </p>

    <p class="govuk-body">
      <a class="govuk-link" href="/">Go to the Design help home page</a>
    </p>

  </div>
</div>
{% endblock %}
