{% extends "layouts/main.html" %}

{% set pageName=member.name %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <p class="govuk-body">
      <a href="/browse" class="govuk-link govuk-back-link">Back to team members</a>
    </p>

    <h1 class="govuk-heading-xl">
      {{ member.name }}
    </h1>

    <p class="govuk-body-l">
      {{ member.role }}
    </p>

    {% if member.availability == "Available" %}
      <strong class="govuk-tag govuk-tag--green">Available</strong>
    {% else %}
      <strong class="govuk-tag govuk-tag--grey">{{ member.availability }}</strong>
    {% endif %}

    <dl class="govuk-summary-list" style="margin-top: 2em;">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location
        </dt>
        <dd class="govuk-summary-list__value">
          {{ member.location }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Experience
        </dt>
        <dd class="govuk-summary-list__value">
          {{ member.experience }}
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">About</h2>
    <p class="govuk-body">
      {{ member.bio }}
    </p>

    <h2 class="govuk-heading-m">Skills</h2>
    <ul class="govuk-list govuk-list--bullet">
      {% for skill in member.skills %}
        <li>{{ skill }}</li>
      {% endfor %}
    </ul>

    <h2 class="govuk-heading-m">Can help with</h2>
    <ul class="govuk-list govuk-list--bullet">
      {% for help in member.canHelpWith %}
        <li>{{ help }}</li>
      {% endfor %}
    </ul>

    <h2 class="govuk-heading-m">Interests</h2>
    <ul class="govuk-list govuk-list--bullet">
      {% for interest in member.interests %}
        <li>{{ interest }}</li>
      {% endfor %}
    </ul>

    <div style="border-top: 2px solid #b1b4b6; padding-top: 2em; margin-top: 2em;">
      <h2 class="govuk-heading-m">Get in touch</h2>
      <p class="govuk-body">
        Reach out to {{ member.name.split(' ')[0] }} on Slack or email to arrange a time to chat.
      </p>
      <button class="govuk-button" data-module="govuk-button">
        Send message
      </button>
    </div>

  </div>
</div>

{% endblock %}




