{% extends "layouts/main.html" %}

{% set pageName=member.name %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-full">
    <p class="govuk-body govuk-!-margin-bottom-2">
      <a href="/browse" class="govuk-link govuk-back-link">Back to team members</a>
    </p>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      {{ member.name }}
    </h1>
    {% if not isAdmin and isOwnProfile %}
    <p class="govuk-body govuk-!-margin-bottom-0">
      <a class="govuk-button" data-module="govuk-button" href="/my-profile/edit">Edit my profile</a>
    </p>
    {% endif %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if member.role %}
    <p class="govuk-body-l profile-page__job-title">{{ member.role }}</p>
    {% endif %}

    <dl class="govuk-summary-list {% if member.role %}govuk-!-margin-top-6{% endif %}">
      {% if member.display_email %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Email</dt>
        <dd class="govuk-summary-list__value">
          <a class="govuk-link" href="mailto:{{ member.display_email }}">{{ member.display_email }}</a>
        </dd>
      </div>
      {% endif %}
      {% if member.project_team %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Project team</dt>
        <dd class="govuk-summary-list__value">{{ member.project_team }}</dd>
      </div>
      {% endif %}
      {% if member.delivery_group %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Delivery group</dt>
        <dd class="govuk-summary-list__value">{{ member.delivery_group }}</dd>
      </div>
      {% endif %}
      {% if member.location %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Location</dt>
        <dd class="govuk-summary-list__value">{{ member.location }}</dd>
      </div>
      {% endif %}
      {% if member.availability_status %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Availability</dt>
        <dd class="govuk-summary-list__value">{{ member.availability_status }}</dd>
      </div>
      {% endif %}
      {% if member.experience %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Experience</dt>
        <dd class="govuk-summary-list__value">{{ member.experience }}</dd>
      </div>
      {% endif %}
    </dl>

    {% if member.can_help_with and member.can_help_with.length %}
    <h2 class="govuk-heading-m">Can help with</h2>
    <ul class="govuk-list govuk-list--bullet">
      {% for help in member.can_help_with %}
      <li>{{ help }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if member.can_help_with_text %}
    <p class="govuk-body">{{ member.can_help_with_text }}</p>
    {% endif %}

    {% if member.development_goals_text %}
    <h2 class="govuk-heading-m">What I would like help with</h2>
    <p class="govuk-body">{{ member.development_goals_text }}</p>
    {% endif %}

    {% if member.bio %}
    <h2 class="govuk-heading-m">About</h2>
    <p class="govuk-body">{{ member.bio }}</p>
    {% endif %}

    {% if member.linkedin_profile %}
    <h2 class="govuk-heading-m">LinkedIn</h2>
    <p class="govuk-body">
      <a class="govuk-link" href="{{ member.linkedin_profile }}" target="_blank" rel="noreferrer noopener">
        {{ member.linkedin_profile }}
      </a>
    </p>
    {% endif %}

  </div>

  <div class="govuk-grid-column-one-third profile-page__contact-sidebar">
    <aside class="profile-page__contact-aside" aria-labelledby="profile-get-in-touch">
      <h2 id="profile-get-in-touch" class="govuk-heading-m govuk-!-margin-top-0">Get in touch</h2>
      <p class="govuk-body">
        {% if member.display_email %}
        Email <a class="govuk-link" href="mailto:{{ member.display_email }}">{{ member.display_email }}</a> or reach out to {{ member.name.split(' ')[0] }} on Slack to arrange a time to chat.
        {% else %}
        Reach out to {{ member.name.split(' ')[0] }} on Slack or by email to arrange a time to chat.
        {% endif %}
      </p>
      {% if member.display_email %}
      <p class="govuk-body govuk-!-margin-bottom-0">
        <a href="mailto:{{ member.display_email }}" class="govuk-button" data-module="govuk-button">
          Send message
        </a>
      </p>
      {% endif %}
    </aside>
  </div>
</div>

{% endblock %}
