{% extends "layouts/main.html" %}

{% block pageTitle %}
Create an account - Defra Design Help
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if error %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
            data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#email">{{ error }}</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}

        <h1 class="govuk-heading-xl">Create an account</h1>

        <p class="govuk-body">
          Use this page <strong>the first time</strong> you use Design help. An admin must have added your <span class="govuk-visually-hidden">Defra </span>work email to the allowed list. We will send a verification code to your inbox.
        </p>

        <p class="govuk-body">
          <a class="govuk-link" href="/login">Sign in</a> if you already have an account.
        </p>

        <form action="/register" method="post" novalidate>

            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="email">
                    Email address
                </label>
                <div id="email-hint" class="govuk-hint">
                    Use the same @defra.gov.uk address your admin added to the allowed list.
                </div>
                <input class="govuk-input" id="email" name="username" type="email" aria-describedby="email-hint"
                    autocomplete="email" spellcheck="false" inputmode="email">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="password">
                    Password
                </label>
                <div id="password-hint" class="govuk-hint">
                    Choose a password you will use with <span class="govuk-visually-hidden">the </span>sign in<span class="govuk-visually-hidden"> page</span> after your email is verified.
                </div>
                <input class="govuk-input" id="password" name="password" type="password" aria-describedby="password-hint" autocomplete="new-password">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="name">
                    Full name
                </label>
                <div id="name-hint" class="govuk-hint">
                    Shown on your designer profile in the team directory.
                </div>
                <input class="govuk-input" id="name" name="name" type="text" aria-describedby="name-hint" autocomplete="name">
            </div>

            <button class="govuk-button" data-module="govuk-button" type="submit">
                Create account and send verification email
            </button>

        </form>

    </div>
</div>
{% endblock %}